@font-face {
    font-family: 'nazanin';
    src: url('../fonts/Nazanin.eot?#')format('eot'), url('../fonts/Nazanin.ttf')format('truetype'), url('../fonts/Nazanin.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'nazanin';
}